@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, black 100%),
    url("asset/IN-en-20241125-TRIFECTA-perspective_fe8a8dbc-e13a-452e-a9c6-284b08c4f974_large.jpg");
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
  transform: scale(1.05);
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 2, 2, 0.376);
  z-index: -1;
}

.main {
  background-image: linear-gradient(
    to top,
    #0f0f0f 50%,
    transparent 100%
  );
}
.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 200px;
  position: relative;
  left: 60px;
}

.nav-lang {
  display: flex;
  align-items: center;
}

.select {
  box-sizing: content-box;
  padding: 0px 0px 0px 30px;
  width: 80px;
  height: 40px;
  color: #fff;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  border: 3px solid grey;
}

.nav-assential {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  right: -65%;
}

.language-symbol {
  position: relative;
  left: 25px;
  color: #fff;
  z-index: 2;
}

button {
  width: 80px;
  height: 40px;
  border-radius: 40px;
  border: none;
  font-weight: 600;
}

.img-bg {
  width: 90%;
  height: 500px;
  position: relative;
  margin: auto;
  border-radius: 25px;

  background-image: url("asset/IN-en-20241125-TRIFECTA-perspective_fe8a8dbc-e13a-452e-a9c6-284b08c4f974_large.jpg");
  box-shadow: -3px -3px 0px rgba(255, 255, 255, 0.914);
}

.img-bg h2 {
  text-align: center;
  color: #fff;
  font-weight: 900;
  padding-bottom: 15px;
  font-size: 3rem;
}

.img-bg p {
  text-align: center;
  color: #fff;
  font-weight: 500;
}

.mid-text {
  position: relative;
  top: 55%;
  padding-bottom: 81px;
  border-radius: 25px;
  background: linear-gradient(to bottom, transparent 10%, black 100%);
}

.nav-mid {
  padding: 20px;
  margin: 30px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: centers;
}

.para {
  position: relative;
  left: 22%;
}

.para p {
  font-size: 0.9rem;
  color: #fff;
}

.join-detail {
  padding: 20px;
  position: relative;
  right: 13.5%;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.join-detail input {
  padding: 18px;
  width: 350px;
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.414);
  /* backdrop-filter: blur(5px); */
  border: 2px solid grey;
  transition: 0.1s ease;
  z-index: 1111;
  outline: none;
}

.join-now {
  width: 180px;
  height: 55px;
  font-size: 1.2rem;
  background: #e50914;
  color: #fff;
  position: relative;
  left: 1%;
}

.join-now:hover{

  background: #e5091496;

}
.join-now i {
  color: #fff;
}

.label-line {
  color: #fff;
  position: absolute;
  left: 6%;
  z-index: 111;
  pointer-events: none;
}

/* mid sec3 */
.mid-bar {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  position: relative;
  left: 10%;
}

.mid-heading h2 {
  color: #fff;
  font-size: 2rem;
}

.select-sec {
  display: flex;
  align-items: center;
  position: relative;
  right: -55%;
}

.select1,
.select2 {
  box-sizing: content-box;
  padding: 0px 0px 0px 30px;
  width: 100px;
  height: 40px;
  color: #ffffff;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  border: 3px solid grey;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.tape {
  position: relative;
  right: 15px;
}

.earth-sym {
  position: relative;
  right: -15%;
  color: #fff;
  z-index: 2;
  padding: 0 10px;
  font-size: 1.5rem;
}

.tape-sym {
  position: relative;
  right: -10%;
  color: #fff;
  z-index: 2;
  padding-right: 10px;
  font-size: 1.5rem;
}

/* /mid3 layer */

.scroll-bx {
  display: flex;
  width: 80%;
  height: 300px;
  margin: auto;
  border-radius: 10px;
  gap: 60px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-bx::before {
  position: absolute;
  content: " ";
  left: 8%;
  top: 124%;
  z-index: 99;
  height: 270px;
  width: 80px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6) 60%,
    transparent 100%
  );
}

.scroll-bx::after {
  position: absolute;
  content: " ";
  right: 10%;
  top: 124%;
  z-index: 99;
  height: 270px;
  width: 80px;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.6) 60%,
    transparent 100%
  );
}

.scroll-box {
  width: 130px;
  height: 260px;
  position: relative;
  right: 12%;
  gap: 10px;
  border-radius: 10px;
}

.scroll-box img {
  width: 150px;
  height: 260px;
  border-radius: 20px;
}

.img-no {
  width: 80px;
  height: 80px;
  display: flex;
  z-index: 11;
  gap: 100px;
}

.img-no img {
  width: 80px;
  height: 80px;
  z-index: 2;
}

.img2 {
  position: relative;
  left: -50%;
}

.img1 {
  position: relative;
  left: -55%;
}

.img3 {
  position: relative;
  left: -35%;
}

.img4 {
  position: relative;
  left: -20%;
}

.scroll-box::-webkit-scrollbar {
  -webkit-appearance: none;
  outline: none;
  display: none;
}

.angle-left {
  color: #fff;
  width: 25px;
  height: 90px;
  border-radius: 40px;
  background-color: #3c3c3c;
  z-index: 999;
  position: relative;
  left: 8.2%;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.angle-right {
  color: #fff;
  width: 25px;
  height: 90px;
  border-radius: 40px;
  background-color: #3c3c3c;
  z-index: 999;
  position: relative;
  right: -88%;
  bottom: 215px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-2 {
  color: #fff;
  font-size: 1.5rem;
  position: relative;
  left: 8%;
  bottom: 170px;
}

.reason-container {
  width: 80%;
  height: 300px;
  margin: auto;
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 150px;
  left: -30px;
}

.reason-box {
  width: 340px;
  height: 150px;
  background-color: rgba(128, 128, 128, 0.355);
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  backdrop-filter: blur(10px);
  border: 1px solid grey;
}

.reason-box img {
  width: 48px;
  height: 40px;
  position: relative;
  left: 80%;
  top: 50%;
  object-fit: cover;
}

.img-tv {
  width: 48px;
  height: 40px;
  position: relative;
  left: 65%;
  top: 15%;
}

.fq-ques {
  font-size: 2.2rem;
  color: #fff;
  position: relative;
  left: 8%;
  bottom: 255px;
  font-weight: 600;
}

.button-sec {
  height: 500px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 8%;
  bottom: 240px;
  gap: 7px;
}

.button-sec button {
  width: 100%;
  height: 72px;
  background-color: #282828;
  border: 1px solid #3c3c3c;
  border-radius: 15px;
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px;
  align-items: center;
}

.button-sec button svg {
  position: relative;
  right: -80%;
  width: 24px;
  height: 24px;
  color: #fff;
}

.svg1,
.svg2,
.svg3,
.svg4,
.svg4,
.svg5,
.svg6 {
  position: absolute;
  left: 94%;
}

.button-sec button:hover {
  background-color: #555555;
  transition: 0.1s ease-in-out;
}

.join-detail-btn-2 {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 230px;
}

.join-detail-btn-2 .join-now {
  position: relative;
  left: 5.5%;
  width: 131px;
  height: 40px;
  font-weight: 600;
  font-size: 1rem;
}

.join-detail-btn-2 p {
  color: #fff;
  position: relative;
  top: 40px;
  right: 7%;
}

footer {
  height: 320px;
}

.foot {
  width: 270px;
  height: 200px;
  color: #fff;
  position: relative;
  left: 8%;
  bottom: 150px;
}

.foot a {
  color: #ffffff;
  font-weight: 100;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(255, 255, 255, 0.7);
}

.link-column {
  width: 972px;
  height: 142px;
  position: relative;
  left: 8%;
  bottom: 280px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.link-column a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration-thickness: 1px;
  text-decoration-color: rgba(255, 255, 255, 0.7);
}

.link-column a:nth-child(4n) {
  margin-bottom: 20px;
}

.foot-lang {
  width: 130px;
  height: 38px;
  position: relative;
  left: 7%;
  bottom: 200px;
}

.foot-select {
  width: 124px;
  height: 32px;
}

.foot-p {
  width: 100px;
  height: 20px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  left: 8%;
  bottom: 160px;
}
